*{
    text-decoration: none;
}
h1{
    text-align: center;
}
.navbar{
    background: black; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     padding-right: 15px; padding: 15px; text-align: right;
}
li{
    list-style: none; display: inline-block;
}
li a{
    color: orange; font-size: 18px; font-weight: bold; margin-right: 25px; 
}
button{
    background-color: tan; margin-left: 10px; border-radius: 10px; padding: 10px;width: 90px;
}
button{
    color: black; font-weight: bold; font-size: 15px;
}
main p{
    font-size: large;  font-family: fantasy;
}
img{
    margin-left: 100px; margin-top: 50px;
}
main h1{
    text-align: left;
}
footer{
    background-color: grey; padding-top: 50px; padding-left: 20px; padding-bottom: 10px;
}